form {
    margin: 30px auto;
    width: 550px;
    height: max-content;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 8px black;
    font-size: 2rem;
    padding: 20px;
    .button{
        margin:60px auto;
        width: max-content;
        
        button {
            font-size: 20px;
            width: 120px;
            height: 50px;
            margin: 20px;
            border-radius: 5px;
            border: unset;
            &:nth-child(1){
                background-color: #4AB9F8;
            }
            &:hover{
                box-shadow: 1px 2px 2px #333;
                cursor: pointer;
            }
         
        }
    }
    div {
        margin-top: 40px;
        display: flex;
        width: 100%;
        label {
            text-align: left    ;
            width: 130px;
        }
        input {
            flex-grow: 1;
            border: unset;
            border-bottom: 1px solid black;
            font-size: 1rem;

          
            &:focus{
                border: unset;
                outline: none   ;
             
            }
        }
    }
}